<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yunyouzhiyuan.qianbaoshangchengclient">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读取扩展卡 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- <&#45;&#45; 摄影机 &ndash;&gt; -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 通用权限 -->
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="com.yunyouzhiyuan.qianbaoshangchengclient.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <permission
        android:name="com.yunyouzhiyuan.qianbaoshangchengclient.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--&lt;!&ndash; 友盟开始 &ndash;&gt;-->
        <!--<meta-data-->
        <!--android:name="UMENG_APPKEY"-->
        <!--android:value="58ca5694c62dca726a0002ee" />-->

        <!--&lt;!&ndash; 友盟结束 &ndash;&gt;-->

        <!--QQ开始-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106048014" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--QQ结束-->
        <!-- 极光开始 -->
        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name=".jpush.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.yunyouzhiyuan.qianbaoshangchengclient" />
            </intent-filter>
        </receiver>

        <!-- Rich push 核心功能 since 2.0.6 -->
        <!-- <activity -->
        <!-- android:name="cn.jpush.android.ui.PopWinActivity" -->
        <!-- android:theme="@style/MyDialogStyle" -->
        <!-- android:exported="false"> -->
        <!-- </activity> -->


        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.yunyouzhiyuan.qianbaoshangchengclient" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" />

        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":mult">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.yunyouzhiyuan.qianbaoshangchengclient" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="com.yunyouzhiyuan.qianbaoshangchengclient" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="c02eb34328ef2f7e4f05204f" /> <!-- </>值来自开发者平台取得的AppKey -->


        <!-- 极光结束 -->


        <!-- ping++开始 -->
        <activity
            android:name="com.pingplusplus.android.PaymentActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 微信支付 -->
        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.pingplusplus.android.PaymentActivity" />

        <!-- 支付宝 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind" />
        <!-- ping++结束 -->


        <!-- 图片选择器 -->
        <activity
            android:name="com.tangxiaolv.telegramgallery.GalleryActivity"
            android:screenOrientation="portrait" />
        <!-- 百度地图开始 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="RdN6VQKMk2OpupG10qAeo6SXnq18Em34" />
        <!-- // //key:开发者申请的Key -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" />
            </intent-filter>
        </service>
        <!-- 百度地图结束 -->


        <!-- 首页 -->
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 美食界面 -->
        <activity
            android:name=".activity.CookActivity"
            android:screenOrientation="portrait" />
        <!-- 外卖界面 -->
        <activity
            android:name=".activity.FoodOutActivity"
            android:screenOrientation="portrait" />
        <!-- webview 界面 -->
        <activity
            android:name=".activity.WebViewActivity"
            android:screenOrientation="portrait" />
        <!-- 酒店界面 -->
        <activity
            android:name=".activity.HotelActivity"
            android:screenOrientation="portrait" />
        <!-- ktv界面 -->
        <activity
            android:name=".activity.KTVActivity"
            android:screenOrientation="portrait" />
        <!-- 休闲娱乐 -->
        <activity
            android:name=".activity.HappyActivity"
            android:screenOrientation="portrait" />
        <!-- 天天美食界面 -->
        <activity
            android:name=".activity.TianTianActivity"
            android:screenOrientation="portrait" />
        <!-- 商店详情 -->
        <activity
            android:name=".activity.ShopStorinfoActivity"
            android:screenOrientation="portrait" />
        <!-- 登陆界面 -->
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <!-- 修改密码界面 -->
        <activity
            android:name=".activity.UnPassWordActivity"
            android:screenOrientation="portrait" />
        <!-- 注册界面 -->
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <!-- 评价界面 -->
        <activity
            android:name=".activity.EvaluateListActivity"
            android:screenOrientation="portrait" />
        <!-- 收藏界面 -->
        <activity
            android:name=".activity.ShouCangActivity"
            android:screenOrientation="portrait" />
        <!-- 商品详情页 -->
        <activity
            android:name=".activity.ShopInfoActivity"
            android:screenOrientation="portrait" />
        <!-- 订单界面 -->
        <activity
            android:name=".activity.DingDanActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="jpush.testAction" />

                <category android:name="jpush.testCategory" />
            </intent-filter>
        </activity>
        <!-- 我的余额 -->
        <activity
            android:name=".activity.YueeActivity"
            android:screenOrientation="portrait" />
        <!-- 优惠券 -->
        <activity
            android:name=".activity.YouhuiquanActivity"
            android:screenOrientation="portrait" />
        <!-- 外卖店铺i详情页 -->
        <!-- 浏览大图 -->
        <activity
            android:name=".activity.TapViewpagerActivity"
            android:configChanges="orientation|keyboardHidden" />
        <!-- 浏览单个大图 -->
        <activity
            android:name=".ui.photoview.DragPhotoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme_fist" />
        <!-- android:label="@string/title_activity_food_out_info" -->
        <!-- 店铺列表统一模板 -->
        <activity
            android:name=".activity.StorListActivity"
            android:screenOrientation="portrait" />
        <!-- 设置界面 -->
        <activity
            android:name=".activity.SheZhiActivity"
            android:screenOrientation="portrait" />
        <!-- 地址修改界面 -->
        <activity
            android:name=".activity.AddressActivity"
            android:screenOrientation="portrait" />
        <!-- 添加新地址/修改地址 -->
        <activity
            android:name=".activity.UnAddressActivity"
            android:screenOrientation="portrait" />
        <!-- 外卖详情页 -->
        <activity
            android:name=".activity.FoodOutInfoActivity"
            android:screenOrientation="portrait" />
        <!-- 外卖提交订单 -->
        <activity
            android:name=".activity.FoodOutDingdanActivity"
            android:screenOrientation="portrait" />
        <!-- 订单界面跳转的优惠券界面 -->
        <activity
            android:name=".activity.YouhuiquanDingdanActivity"
            android:screenOrientation="portrait" />
        <!-- 店家评论列表界面 -->
        <activity
            android:name=".activity.ShangjiaPingjiaActivity"
            android:screenOrientation="portrait" />
        <!-- 评价订单界面 -->
        <activity
            android:name=".activity.PingstorActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 外卖商品详情页 -->
        <activity
            android:name=".activity.FoodOutShopInfoActivity"
            android:screenOrientation="portrait" />
        <!-- 美食店家详情页 -->
        <activity
            android:name=".activity.CookStorinfoActivity"
            android:label="@string/title_activity_cook_storinfo"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- 百度地图界面 -->
        <activity
            android:name=".activity.BaiduMapActivity"
            android:screenOrientation="portrait" />
        <!-- 统一模板 提交订单界面 -->
        <activity
            android:name=".activity.ToDingdanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 酒店店家详情页 -->
        <activity
            android:name=".activity.HotelStorInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_hotel" />
        <!-- 导航界面 -->
        <activity
            android:name=".activity.BNDemoGuideActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- ktv 预约详情页 -->
        <activity
            android:name=".activity.KTVStorInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_hotel" />
        <!-- ktv团购详情页 -->
        <activity
            android:name=".activity.KTVTuanGouActivity"
            android:label="@string/title_activity_ktvtuan_gou"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_hotel" />
        <!-- 选择城市id 联动数据界面 -->
        <activity
            android:name=".activity.CityActivity"
            android:screenOrientation="portrait" />
        <!-- 美食点击顶部菜单进入列表 -->
        <activity
            android:name=".activity.CookListActivity"
            android:screenOrientation="portrait" />
        <!-- 搜索界面 -->
        <activity
            android:name=".activity.SouSuoActivity"
            android:screenOrientation="portrait" />
        <!-- 启动页 -->
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/AppTheme_fist" />
        <!-- 活动详情页 -->
        <activity
            android:name=".activity.WebViewHuoDongActivity"
            android:screenOrientation="portrait" />
        <!-- 活动订单提交 -->
        <activity
            android:name=".activity.ToHUoDongDingdanActivity"
            android:screenOrientation="portrait" />
        <!--订单查看二维码-->
        <activity
            android:name=".activity.LookQRcodeActivity"
            android:screenOrientation="portrait" />
        <!--微博分享界面-->
        <activity
            android:name=".activity.WeiBoShareActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_fist">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--微信分享 的回调activity-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:exported="true"/>
    </application>

</manifest> <!--  -->
